
<!DOCTYPE html>
<html lang="en" ng-app="tarjetaVisa" ng-controller="tarjetaCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pago con tarjeta</title>
    <link rel="stylesheet" href="Content/bootstrap.css" />
    <link href="Content/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="Content/Site.css" />

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">-->


</head>
<body>

    <div class="container">
        <div class="">
            <div class="panel panel-info">

                <div class="form-group mt-2">
                    <div class="row alert alert-info text-center">
                    <div class="col-8">
                        <b>Pago en efectivo</b>
                    </div>
                        <div class="col-4">
                        <i class="fa fa-money" width="50" height="50"></i>

                        </div>
                    </div>
                </div>

                <div class="m-4" ng-show="mostrarResultado">
                    <div class="alert-success p-2">
                        {{mensaje}}
                    </div>
                </div>
                <div class="panel-body">
                    <form novalidate name="myForm" class="form-horizontal">

                        <div class="form-group col-md-12" ng-class="{'has-error': (myForm.monto.$invalid && myForm.monto.$touched)}">
                            <label><b> Monto a pagar </b></label>
                            <input class="form-control" type="number" name="monto" ng-model="monto" required />
                            <label class="control-label" ng-show="myForm.monto.$error.required && myForm.monto.$touched">
                                Se requiere ingresar un monto
                            </label>
                        </div>

                        <div class="row">
                            <div class="col-4">

                            </div>
                        <div class="col-3">
                            <button class="btn btn-primary" name="btn" ng-disabled="myForm.$invalid || myForm.$error.pattern || myForm.$error.required || myForm.btn.$touched " ng-click="Listo()">Listo!</button>
                        </div>

                        </div>
                    </form>




                </div>
            </div>
        </div>


    </div>














    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="Scripts/angular.js"></script>

    <script src="app/app.module.js"></script>
    <script src="app/tarjetaController.js"></script>
</body>
</html>
