<%@ Page Language="C#" Inherits="TarjetaCredito.Default" %>
<!DOCTYPE html>
<html lang="en" ng-app="tarjetaVisa" ng-controller="tarjetaCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pago con tarjeta</title>

    <link rel="stylesheet" href="Content/bootstrap.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


  </head>
  <body >
        
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-info">
                    <div class="pull-right">
                            <img src="Imagenes/Visa-2014-logo-blue.png" class="img-responsive" width="50" height="250"> 
                        </div>
                    <div class="panel-heading">
                            <h3 class="panel-title">Ingrese su tarjeta</h3>
            </div>
                    
            <div class="panel-body">
                        <form novalidate name="myForm" class="form-horizontal" >

                                <div class="form-group col-md-12" ng-class="{'has-error': (myForm.nombre.$invalid && myForm.nombre.$touched)}">
                                        <label>Nombre titular</label>
                                        <input class="form-control" type="text" name="nombre" placeholder="Nombre del titular" ng-model="nombre" required/>
                                <label class="control-label" ng-show="myForm.nombre.$error.required && myForm.nombre.$touched">
                                                Se requiere nombre del titular.
                                </label>
                              </div>
                            
                            <div class="form-group col-md-12" ng-class="{'has-error': (myForm.nroDoc.$invalid && myForm.nroDoc.$touched)}">
                                <label>DNI titular</label>
                                <span>
                                    <input class="form-control" type="number" name="nroDoc" placeholder="Nro de documento" ng-model="nroDoc" ng-maxlength="8" required/>
                                    <label class="control-label" ng-show="(myForm.nroDoc.$error.required && myForm.nroDoc.$touched)">
                                            Ingrese documento del titular.
                                    </label>
                                </span>
                                
                              </div>
                            
                              <div class="form-group col-md-12" ng-class="{'has-error': (myForm.nroDoc.$invalid && myForm.nroDoc.$touched) || !nroVisa}">
                                <label>Nro tarjeta</label>
                                <input class="form-control" type="number" ng-model="nro" placeholder="Nro de la tarjeta" ng-maxlength="16" ng-minlenght="16" required/>
                                <label class="control-label" ng-show="(myForm.nro.$error.required && myForm.nro.$touched) || !nroVisa">
                                            Solo aceptamos tarjetas VISA.
                                    </label>
                              </div>
                            
                              <div class="form-group col-md-12" ng-class="{'has-error': (myForm.codigo.$invalid && myForm.codigo.$touched)}">
                                <label>Código de seguridad</label>
                                <input class="form-control" type="number" name="codigo" ng-model="codigo" placeholder="Código" ng-maxlength="3" required/>
                                <label class="control-label" ng-show="myForm.codigo.$error.required && myForm.codigo.$touched">
                                            Ingrese código de seguridad.
                                    </label>
                              </div>
                                   <div class="form-group col-md-12" ng-class="{'has-error': (myForm.fecha.$invalid && myForm.fecha.$touched)}">
                                <label>Fecha de vencimiento</label>
                                <input class="form-control" placeholder="MM/AA" name="fecha" ng-model="fecha" required/>
                                <label class="control-label" ng-show="(myForm.fecha.$error.required && myForm.fecha.$touched)">
                                            Fecha incorrecta.
                                    </label>
                              </div>
                            
                           
                           <div class="pull-right">
                                 <button class="btn btn-primary" ng-click="Pagar()">Pagar</button>
                               </div>
                             
                            
                              
                            
                            

                          

                        </form>
                        
                        


            </div>
        </div>
            </div>
            
                                    <div class="pull-right" ng-show="mostrarResultado">
                                        
                                        <div class="alert" ng-class="{'alert-success': aceptado, 'alert-danger': !aceptado}">
                                        {{mensaje}}
                                        </div>
                                    </div>
        </div>


         
                                
                                
                              








    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <script src="Scripts/angular.js"></script>
        
        <script src="app/app.module.js"></script>
        <script src="app/tarjetaController.js"></script>
    </body>
</html>
